*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050817;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:1000px;
}

.chart-card{
    background:#171d37;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.chart-card h2{
    margin-bottom:20px;
    color:#cfd5ff;
    font-size:18px;
    letter-spacing:1px;
}

canvas{
    width:100% !important;
    height:400px !important;
}
